<div class="mdl-layout__header-row">
  <!-- Title -->
  <span class="mdl-layout-title mdl-badge" ui-sref="home.home">Project Manager</span>
  <!-- Add spacer, to align navigation to the right -->
  <nav class="mdl-navigation mdl-layout--large-screen-only">
    <a class="mdl-navigation__link" href="#" ui-sref="home.project">Project</a>
    <a class="mdl-navigation__link" href="#" ui-sref="home.groups">Groups</a>
    <a class="mdl-navigation__link" href="#" ui-sref="home.activities">Activities</a>
    <a class="mdl-navigation__link" href="#" ui-sref="home.schedule">Schedule</a>
    <a class="mdl-navigation__link" href="#" ui-sref="home.timekeeping">Timekeeping</a>
    <a class="mdl-navigation__link" href="#" ui-sref="home.flows">Flows</a>
    <a class="mdl-navigation__link" href="#" ui-sref="home.reporting">Reporting</a>
  </nav>
  <!-- Add spacer, to align navigation to the right -->
  <div class="mdl-layout-spacer"></div>
  <!-- Navigation. We hide it in small screens. -->

  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--9-col mdl-cell--hide-tablet">
      <div>Hello, Marcelo Carmona</div>
      <div>Access Super User</div>
    </div>
    <div class="mdl-cell mdl-cell--3-col">
      <img src="assets/images/profile.jpg" class="avatar">
    </div>
  </div>




</div>
