.search-navbar {
 width: 300px;
}

.active {
  background-color: rgba(63, 81, 181, 0.13);
}

.view {
  cursor: pointer;
}

.input-search {
  padding-left: 10px;
  border-bottom: 1px rgba(0, 0, 0, 0.18) solid;
}
