.search-navbar {
 width: 300px;
}

.active {
  background-color: rgba(63, 81, 181, 0.13);
}

.view {
  cursor: pointer;
}

.input-search {
  border-bottom: 1px rgba(0, 0, 0, 0.18) solid;
  padding: 13px;
}

.float-button {
  bottom: 45px;
  margin-bottom: 10px;
  padding-top: 10px;
  position: fixed;
  right: 29px;
  z-index:998;
}

.no-search-result{
  text-align: center;
  margin: 30px;
  font-size: 20px;
}
