<div class="mdl-card__title">
  <h2 class="mdl-card__title-text">Edit Project</h2>
</div>

<form class="project-form" name="editForm">
  <div class="mui-textfield ">
    <input type="text" ng-model="edit.project.title" required>
    <label>Name</label>
  </div>
  <div class="mui-textfield">
    <input type="text" ng-model="edit.project.description" required>
    <label>Description</label>
  </div>
  <div class="mui-select">
    <select ng-model="edit.project.status">
      <option>approved</option>
      <option>pending</option>
      <option>cancelled</option>
    </select>
  </div>
  <div class="mui-textfield">
    <input type="text"  ng-model="edit.project.rfi">
    <label>Related RFI</label>
  </div>
  <div class="mui-textfield">
    <textarea ng-model="edit.project.notes"></textarea>
    <label>Notes</label>
  </div>

  <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" ng-click="edit.editProject()" ng-disabled="editForm.$invalid">
    Edit
  </button>
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
          ui-sref="^">
    Cancel
  </button>
</form>
